<div class="admin-layout">

  <!-- ========== SIDEBAR ========== -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <span class="logo-accent">Zen</span>Blog
      <span class="admin-badge">Admin</span>
    </div>

    <nav class="sidebar-nav">
      <a routerLink="/admin/dashboard">
        <i class="bi bi-speedometer2"></i>
        Dashboard
      </a>

      <a routerLink="/admin/category" >
        <i class="bi bi-tags"></i>
        Categories
      </a>

      <a routerLink="/admin/blog">
        <i class="bi bi-journal-text"></i>
        Blogs
      </a>

      <a routerLink="/admin/comment">
        <i class="bi bi-chat-left-text"></i>
        Comments
      </a>

      <a routerLink="/admin/message" >
        <i class="bi bi-envelope"></i>
        Messages
      </a>

      <a routerLink="/admin/contactinfo">
        <i class="bi bi-telephone"></i>
        Contact Info
      </a>

      <a routerLink="/admin/social">
        <i class="bi bi-share"></i>
        Social Networks
      </a>
    </nav>

    <!-- User -->
    <div class="sidebar-footer">

    </div>
  </aside>

  <!-- ========== MAIN CONTENT ========== -->
  <section class="admin-content">
    <header class="admin-header">
      <h1 class="pageTitle">{{ pageTitle }}</h1>

      <div class="dropdown user-dropdown">
        <button
          class="btn user-btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="https://github.com/mdo.png" alt="avatar" />
          <span class="user-name">{{ username}}</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" routerLink="/profile">
              <i class="fa fa-user me-2"></i> Manage your account
            </a>
          </li>

          <li>
            <a class="dropdown-item" routerLink="/">
              <i class="fa fa-globe me-2"></i> Go to website
            </a>
          </li>

          <li><hr class="dropdown-divider"></li>

          <li>
            <button class="dropdown-item text-danger" (click)="logout()">
              <i class="fa fa-sign-out me-2"></i> Logout
            </button>
          </li>
        </ul>
      </div>
    </header>


    <div class="admin-body">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>

